<article class="product" [class.product--admin-mode]="adminMode">
    <figure class="product__image">
        <img [src]="imageUrl" alt="">
    </figure>
    <section class="product__content">
        <section class="product__text">
            <h3 class="product__text__title">
                <ng-content select="#title"></ng-content>
            </h3>
            <p class="product__text__slogan">
                <ng-content select="#slogan"></ng-content>
            </p>
            <p class="product__text__price">
                &#x20b9; <ng-content select="#price"></ng-content>
            </p>
        </section>
        <button class="product__add button button--accent">ADD</button>
    </section>
</article>
