@import "../../assets/styles/form-field.scss";
@import "../../assets/styles/button.scss";
@import "../../assets/styles/icon.scss";
@import "../../assets/styles/login-signup.scss";

.title {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 1rem 0 3rem 0;
}
