<div class="login-signup">
    <img class="login-signup__side-image" src="../../assets/images/login.jpg" alt="">
    <div class="login-signup__fields">
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
            <section class="login__fields">
                <fieldset class="form-field">
                  <label class="form-field__label">Email ID</label>
                  <input formControlName="email" class="form-field__input" type="email">
                  <p *ngIf="validate('email', 'required')" class="form-field__error">Email is Required.</p>
                  <p *ngIf="validate('email', 'email')" class="form-field__error">Invalid Email.</p>
                </fieldset>
                <fieldset class="form-field">
                  <label class="form-field__label">Password</label>
                  <input *ngIf="!isPasswordVisible" formControlName="password" class="form-field__input" type="password">
                  <input *ngIf="isPasswordVisible" formControlName="password" class="form-field__input" type="text">
                  <span (click)="togglePasswordVisibility()" class="form-field__action">{{ isPasswordVisible ? 'Hide' : 'Show' }}</span>
                  <p *ngIf="validate('password', 'required')" class="form-field__error">Password is Required.</p>
                  <p *ngIf="validate('password', 'minlength')" class="form-field__error">Password must contain atleast 8 characters.</p>
                  <p *ngIf="validate('password', 'maxlength')" class="form-field__error">Password must contain atmost 20 characters.</p>
                </fieldset>
            </section>
            <button type="submit" class="button button--thick button--block button--accent">LOGIN</button>
        </form>
        <div class="signup">
            <div class="signup__social">
                <span class="light-text">OR Continue with</span>
                <img class="icon signup__social__icon" src="../../assets/svg/login-sprite/facebook.svg" alt="">
                <img class="icon signup__social__icon" src="../../assets/svg/login-sprite/google.svg" alt="">
            </div>
        </div>
    </div>
</div>
