<div class="checkout">
    <h2 class="checkout__title">CHECKOUT</h2>
    <section class="checkout__cart">
        <article class="cart-item" *ngFor="let product of products">
            <img class="cart-item__image" [src]="product.imageUrl" alt="">
            <div class="vertical-flex">
                <div style="text-align: center;">
                    <h3 class="cart-item__name">{{product.name}}</h3>
                    <p class="cart-item__price">&#x20b9; {{product.price}}</p>
                </div>
                <button (click)="deleteItem(product)" class="cart-item__remove button button--accent">REMOVE</button>
            </div>
        </article>
    </section>
</div>