<div class="checkout">
    <h2 class="checkout__title">CHECKOUT</h2>
    <section class="checkout__cart">
        <article class="cart-item">
            <img class="cart-item__image" src="https://photos5.appleinsider.com/gallery/39133-74930-M1-MacBook-Air-Thumbnail-xl.jpg" alt="">
            <div class="vertical-flex">
                <div style="text-align: center;">
                    <h3 class="cart-item__name">macbook air</h3>
                    <p class="cart-item__price">&#x20b9; 78390</p>
                </div>
                <button class="cart-item__remove button button--accent">REMOVE</button>
            </div>
        </article>
    </section>
</div>