<div class="center">
    <div class="checkout">
        <h2 class="checkout__title">CHECKOUT</h2>
        <section class="checkout__cart" *ngIf="completeCart.cartItems.length > 0">
            <article class="cart-item" *ngFor="let cartItem of completeCart.cartItems">
                <img class="cart-item__image" [src]="cartItem.product.imageUrl" alt="">
                <div class="vertical-flex">
                    <div style="text-align: center;">
                        <h3 class="cart-item__name">{{cartItem.product.name}}</h3>
                        <p class="cart-item__quantity">Quantity: {{cartItem.quantity}}</p>
                        <p class="cart-item__price">&#x20b9; {{cartItem.product.price}}</p>
                    </div>
                    <app-counter [count]="cartItem.quantity" (change)="alterQuantity(cartItem, $event)"></app-counter>
                    <button (click)="deleteItem(cartItem)" class="cart-item__remove button button--accent">REMOVE</button>
                </div>
            </article>
        </section>
        <span *ngIf="completeCart.cartItems.length > 0" class="checkout__total">Total &#x20b9; {{completeCart.totalSum}}</span>
    </div>
    <h2 class="empty-cart" *ngIf="completeCart.cartItems.length == 0">Cart is Empty</h2>
</div>