<div class="center">
    <nav class="nav">
        <img class="nav__logo" src="../../../assets/images/logo.png" alt="company logo">
        <div class="big-input">
            <input placeholder="Search" class="big-input__input" type="text">
            <img class="big-input__action" src="../../../assets/images/nav-bar/search.png" alt="">
        </div>
        <div class="nav__icons">
            <section class="text-icon nav__icon" (click)="logout()">
                <img class="text-icon__icon" src="../../../assets/images/nav-bar/user.png" alt="">
                <span class="text-icon__text">Logout</span>
            </section>
            <a class="badge-target" routerLink="/checkout">
                <section class="text-icon nav__icon">
                    <img class="text-icon__icon" src="../../../assets/images/nav-bar/cart.png" alt="">
                    <span class="text-icon__text">Cart</span>
                </section>
                <span class="badge" [class.badge--text]="numberOfCartItems > 0" [class.badge--hidden]="numberOfCartItems == 0">{{numberOfCartItems}}</span>
            </a>
        </div>
    </nav>
</div>

<div class="center-sub-nav">
    <nav class="sub-nav">
        <a class="nav-link" routerLink="/product-browse">Products</a>
        <a class="nav-link" *ngIf="isAdmin" routerLink="/product-browse/admin">Products Configuration</a>
        <a class="nav-link" routerLink="/checkout">Checkout</a>
    </nav>
</div>