<div class="center">
    <nav class="nav">
        <img class="nav__logo" src="../../../assets/images/logo.png" alt="company logo">
        <div class="big-input">
            <input placeholder="search" class="big-input__input" type="text">
            <img class="big-input__action" src="../../../assets/images/nav-bar/search.png" alt="">
        </div>
        <div class="nav__icons">
            <section class="text-icon nav__icon">
                <img class="text-icon__icon" src="../../../assets/images/nav-bar/user.png" alt="">
                <span class="text-icon__text">Profile</span>
            </section>
            <section class="text-icon nav__icon">
                <img class="text-icon__icon" src="../../../assets/images/nav-bar/cart.png" alt="">
                <span class="text-icon__text">Cart</span>
            </section>
        </div>
    </nav>
</div>