<article class="floating-dialog">
    <h2 class="floating-dialog__title">Add Product</h2>
    <section class="floating-dialog__fields main-content">
        <div>
            <fieldset class="form-field">
                <label class="form-field__label">Name</label>
                <input class="form-field__input" type="text">
            </fieldset>
            <fieldset class="form-field">
                <label class="form-field__label">Price</label>
                <input class="form-field__input" type="number">
            </fieldset>
            <fieldset class="form-field">
                <label class="form-field__label">Image URL</label>
                <input class="form-field__input" type="text">
            </fieldset>
        </div>
        <img class="image-preview" src="../../../../assets/images/app/no-preview.jpg" alt="">
    </section>
    <section class="floating-dialog__action-area">
        <button class="floating-dialog__action button button--accent">Submit</button>
        <button class="floating-dialog__action button">Cancel</button>
    </section>
</article>
