@import "../../../../assets/styles/form-field.scss";
@import "../../../../assets/styles/floating-dialog.scss";
@import "../../../../assets/styles/button.scss";

.image-preview {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.form-field {
  width: 300px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
