.badge-target {
  position: relative;

  & .badge {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -1rem;
    right: -1rem;
    display: inline-block;

    &--hidden {
      display: none;
    }

    &--text {
      display: flex;
      align-items: center;
      justify-content: center;

      right: 1em;
      top: -0.5em;

      color: white;
      background-color: var(--color-accent);
      border-radius: 50%;
    }
  }
}
