.form-field {
  border: none;
  display: inline-block;
  font-size: 1.4rem;
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
  position: relative;

  &__label {
    font-size: 1em;
    padding: 0 0.5em 0.5em 0.5em;
    font-weight: 500;
    color: var(--color-heading);
    display: block;
  }

  &__input {
    font-size: 1em;
    font-weight: 400;
    padding: 0 0.5em 0.5em 0.5em;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-heading);
    color: var(--color-heading);
    width: 100%;
    transition: border-color 0.3s;

    &:focus {
      border-color: var(--color-accent);
    }
  }

  &__action {
    color: var(--color-accent);
    font-size: 1.2rem;
    font-weight: 500;
    position: absolute;
    top: 2.5em;
    right: 0;
    cursor: pointer;
  }
}
