.text-icon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 3rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.2rem;
  }
}
