@import "../../../assets/styles/big-input.scss";
@import "../../../assets/styles/button.scss";
@import "../../../assets/styles/badge.scss";
@import "../../../assets/styles/confirmation.scss";

.page-title {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 3rem 0 1rem 0;
  color: var(--color-heading);
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-browse {
  max-width: 1100px;
}

.product__search {
  max-width: 300px;
  margin-bottom: 2rem;
  margin-top: 3rem;
  margin-left: 1rem;
}

.product-tile-container {
  display: grid;
  grid-template-rows: 500px;
  grid-template-columns: 370px 370px 370px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.product__action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__action-bar .product__action-bar__button {
  width: 7rem;
  height: 4.5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.delete-confirmation {
  width: 500px;
}

.confirmation__action {
  width: 100px;
}
