<div class="center">
    <h2 class="page-title">PRODUCTS</h2>
    <div class="product-browse">
        <div class="product__action-bar">
            <div class="product__search big-input">
                <input placeholder="Search" class="big-input__input" type="text">
                <img class="big-input__action" src="../../../assets/images/nav-bar/search.png" alt="">
            </div>
        </div>
        <div class="product-tile-container">
            <app-product-tile purchase-mode="true"></app-product-tile>
            <app-product-tile purchase-mode="true"></app-product-tile>
            <app-product-tile purchase-mode="true"></app-product-tile>
    
            <app-product-tile></app-product-tile>
            <app-product-tile></app-product-tile>
            <app-product-tile></app-product-tile>
        </div>
    </div>
</div>
