<div class="center">
    <h2 class="page-title">PRODUCTS</h2>
    <div class="product-browse product-browse--admin-mode">
        <div class="product__action-bar">
            <div>
                <button *ngIf="adminMode" (click)="openCreateProduct()" class="button button--accent product__action-bar__button">NEW</button>
                <button *ngIf="adminMode && numberOfSelectedTiles > 0" (click)="openDeletePopup()" class="button product__action-bar__button">DELETE</button>
                <button *ngIf="adminMode && numberOfSelectedTiles === 1" (click)="openEditProduct()" class="button product__action-bar__button">EDIT</button>
            </div>
            <div class="product__search big-input">
                <input [(ngModel)]="searchString" placeholder="Search" class="big-input__input" type="text">
                <img class="big-input__action" (click)="getProducts()" src="../../../assets/images/nav-bar/search.png" alt="">
            </div>
        </div>
        <div class="product-tile-container" [style.grid-template-rows]="gridTemplateRows">
            <div *ngFor="let productTile of productGrid; let i = index">
                <div class="badge-target" (click)="onProductTileClick(i)">
                    <app-product-tile (add)="addToCart(i)" [image-url]="productTile.product.imageUrl" [admin-mode]="adminMode">
                        <ng-container id="title">{{productTile.product.name}}</ng-container>
                        <ng-container id="price">{{productTile.product.price}}</ng-container>
                    </app-product-tile>
                    <img class="badge" [class.badge--hidden]="!(productTile.isSelected)" src="../../../assets/images/app/check.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<app-dialog [popup-command]="confirmDeleteCommand">
    <article class="confirmation delete-confirmation">
        <h2 class="confirmation__title">Confirm Action</h2>
        <p class="confirmation__description">Are you sure you want to delete?</p>
        <section class="confirmation__actions">
            <button (click)="deleteSelected()" class="button confirmation__action">OK</button>
            <button (click)="closeDeletePopup()" class="button button--accent confirmation__action">CANCEL</button>
        </section>
    </article>
</app-dialog>

<app-dialog [popup-command]="openCreateProductCommand">
    <app-create-product [edit-product-publisher]="editProductPublisher" (get-product)="getCreatedOrEditedProduct($event)"></app-create-product>
</app-dialog>